@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?spc5h7');
  src:  url('fonts/icomoon.eot?spc5h7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?spc5h7') format('truetype'),
    url('fonts/icomoon.woff?spc5h7') format('woff'),
    url('fonts/icomoon.svg?spc5h7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
  content: "\e916";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location2:before {
  content: "\e948";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-drive:before {
  content: "\e963";
}
.icon-user:before {
  content: "\e971";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
