﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e9ebee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*---<Products Listing>---*/
.product-container {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #888;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.price {
    color: red;
    font-weight: bold;
    font-family: "Roboto", arial;
    font-size: 125%;
}

.price::after
{
    content: "лв";
}

.product-buttons .btn {
    margin: 5px;
}
/*---</Products Listing>---*/

/*---<User & Search bar>---*/
.searchbar {
    margin-top: 45px;
    padding: 10px;
    background-color: white;
    padding-right: 20%;
    padding-left: 20%;
}

.usernav a {
    color: #999;
    font-family: "Roboto", Arial;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    height: 100%;
}

.usernav
{
    padding-top: 8px;
    height: 100%;
    text-align: right;
}

.usernav a:hover {
    color: #000;
    text-decoration: none;
    transition: 0.5s;

}

.usernav a {

}
/*---</User & Search bar>---*/

/*---<Custom navbar>---*/
.custom-navbar {
    padding: 20px;
    text-transform: uppercase;
    color: black;
    font-family: "Roboto", Arial;
    font-weight: 700;
}


.navbar-light {
    background-color: #2773e4;
    color: white;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: white !important;
    background-color: #3a89ff !important;
    transition: .5s;
}

.custom-navbar a:hover {
    color: black;
}

.logo {
    font-family: "Fugaz One", cursive; 
    font-size: 32px;
}

a.logo{
    color: white;
}

a:hover.logo {
    color: white;
}
/*---</Custom navbar>---*/